<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tentang Saya</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="navbar">
        <h1>Tentang Saya</h1>
        <a href="/">Home</a>
        <a href="/tentang">Tentang Saya</a>
        <a href="/bantuan">Bantuan</a>
        <a href="/berita">Berita</a>
    </div>
    <header>
        <h1 id="judul">Curriculum Vitae</h1>
    </header>
    <div class="cv">
        <img class="portrait" src="/img/fathur.jpg" alt="Foto Profil">

        <h1 id="nama">Fathur Rahman</h1>
        <p id="ket"> Mahasiswa</p>

        <h2>Pengalaman Akademik</h2>
        <ul>
            <li>Jurusan Elektronika Pordi Informatika dan Fakultas Teknik</li>
            <li>Pencapaian atau proyek akademik yang signifikan</li>
        </ul>

        <h2>Pendidikan</h2>
        <p id="p2">Universitas Negeri Padang</p>
        <p id="p2">Gelar yang Anda sedang atau telah mengejar ( Sarjana Komputer)</p>
        <p id="p2">Tahun Masuk - Tahun Lulus (2021- )</p>

        <h2>Keterampilan dan Minat</h2>
        <ul>
            <li>Keterampilan yang di kuasai ( Pemrograman, Desain Grafis, Penulisan, dsb.)</li>
            <li>Minat atau hobi yang di miliki ( Olahraga, Seni, Keuangan, dsb.)</li>
        </ul>
    </div>
    {{>footer}}
</body>
</html>
