<header>
    <div class="navbar">
        
        <h1>Cek Cuaca</h1>
        <a href="/">Home</a>
        <a href="/tentang">Tentang Saya</a>
        <a href="/bantuan">Bantuan</a>
    </div>
    
</header>
